body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-image:linear-gradient(45deg, #fea0cf, #a255f4);
  font-family: sans-serif;
}

.title {
  color: #fff;
}