.BadgeEdit__hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url('../../images/stars.svg'), #1b1b25;
  margin-bottom: 3rem;
  color: #fff;
}

.BadgeEdit__hero-logo {
  padding: 30px 48px;
}

.BadgeEdit__container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.BadgeEdit__wrapper {
  display: grid;
  grid-template-columns: 450px auto;
  grid-column-gap: 80px;
  margin-bottom: 48px;
}